# Entornos virtuales
venv/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local
db.sqlite3

# Archivos comprimidos y respaldos
*.zip
circulartec_estilo_tecnico.zip

# Variables de entorno o secretos (por si los usas a futuro)
.env